if status is-interactive
    # Disable default greeting message
    set -g fish_greeting

    {{ if eq .chezmoi.os "darwin" -}}
    /opt/homebrew/bin/brew shellenv | source
    {{- end }}

    # Editor environment variables
    set -gx EDITOR nvim
    set -gx VISUAL nvim

    # FZF color theme configuration
    set -gx FZF_DEFAULT_OPTS \
      --color=bg+:#313244,bg:#1E1E2E,spinner:#F5E0DC,hl:#F38BA8 \
      --color=fg:#CDD6F4,header:#F38BA8,info:#CBA6F7,pointer:#F5E0DC \
      --color=marker:#B4BEFE,fg+:#CDD6F4,prompt:#CBA6F7,hl+:#F38BA8 \
      --color=selected-bg:#45475A \
      --color=border:#313244,label:#CDD6F4

    # Development-related environment variables
    set -gx NPM_CONFIG_CACHE $HOME/.cache/npm
    set -gx GOPATH $HOME/.local/share/go

    # Initialize external tools
    fzf --fish | source
    starship init fish | source
    zoxide init fish | source
end
