{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $choices := list "default" "aqua" "hyprland" -}}
{{- $profile := promptChoiceOnce . "profile" "What profile do you want to use?" $choices -}}

[data]
  email = {{ $email | quote }}
  profile = {{ $profile | quote }}
