#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}

brew install fish git-delta bat eza zoxide starship fd ripgrep \
  tmux neovim lazygit btop yazi mise

{{/* Profile for Darwin */}}
{{- if eq .profile "aqua" -}}

brew install --cask aerospace alacritty raycast \
  font-caskaydia-cove-nerd-font

{{- end -}}

{{ else if eq .chezmoi.os "linux" -}}

paru -S --needed --noconfirm fish git-delta bat eza zoxide starship fd ripgrep \
  tmux neovim btop yazi lazygit ouch openssh

{{/* Profile for Linux */}}
{{- if eq .profile "hyprland" -}}

paru -S --needed --noconfirm alacritty

{{- end -}}

{{- end }}
