[env]
TERM = "xterm-256color"

[window]
padding = { x = 10, y = 10 }
{{- if eq .chezmoi.os "darwin" }}
decorations = "Buttonless"
opacity = 0.8
blur = true
option_as_alt = "Both"
{{- else }}
decorations = "None"
{{- end }}

[font]
normal = { family = "CaskaydiaCove Nerd Font Mono", style = "Regular" }
size = 12

[selection]
save_to_clipboard = true

[general]
import = [
  "~/.config/alacritty/catppuccin-mocha.toml"
]
